/* CSS Document - List Items */

 li {
  float: left;
	clear: left;
	list-style: none;
}

 ul li a {
	color: #000000;
	text-decoration: none;
}

 ul li a:hover { 
	text-decoration: underline;
}

 ul li > ul a {
    color: #C5C5C5;
}

 ul li > ul {
    display: none;
}

 ul li:hover > ul {
    display: block;
}

